RewriteEngine On
RewriteBase /

# 1. flortzone/gizlilik-politikasi yazınca fz-privacy.html dosyasını sessizce aç
RewriteRule ^flortzone/gizlilik-politikasi$ fz-privacy.html [L,NC]

# 2. flortzone/kullanim-kosullari yazınca fz-terms.html dosyasını sessizce aç
RewriteRule ^flortzone/kullanim-kosullari$ fz-terms.html [L,NC]

# 3. kabex.company/flortzone yazınca flortzone.html dosyasını sessizce aç
RewriteRule ^flortzone$ flortzone.html [L,NC]

# 4. Eğer kullanıcı .html yazarak gelirse, onu temiz adrese yönlendir
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.*)\.html [NC]
RewriteRule ^ /%1 [R=301,L]